Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never

DerivePointerAlignment: false
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

AccessModifierOffset: -1
NamespaceIndentation: None

FixNamespaceComments: true
